.main-card {
  width: 300px;
  font-family: "Tasa Orbiter", sans-serif;
}

.card {
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  text-align: center;
  margin-top: 20px;
}
.card-image img {
  width: auto; /* Ensures the width adjusts based on the aspect ratio */
  max-width: 100%; /* Prevents the image from overflowing its container */
  height: auto;
  /* Maintains the original aspect ratio */
  min-height: 200px;
  max-height: 500px; /* Limits the maximum height */
}
.card-image-1 img {
  /* height: 700px; Limits the maximum height */
  max-height: 700px; /* Limits the maximum height */
  /* height: ; */
}

.card-content {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin: 0 20px 20px 20px; */
}

.card-content h3 {
  font-size: 1.5em;
  margin: 10px 0;
}

.card-content p {
  margin: 5px 0;
  color: #aaa;
  text-align: left;
}

.tech-stack {
  font-size: 0.9em;
  color: #6cace4 !important;
}

.moving-border-container {
  position: relative;
  border-radius: 25px;
  padding: 1.5px;
  background: linear-gradient(90deg, #0ea5e9, #6366f1, #0ea5e9);
  background-size: 200% 100%;
  animation: gradientMove 3s linear infinite;
  margin-top: 10px;
  margin-left: -2px;
}

.moving-border {
  position: absolute;
  inset: 0;
  border-radius: 25px;
  padding: 1px;
  background: linear-gradient(90deg, #0ea5e9, #6366f1, #0ea5e9);
  background-size: 200% 100%;
  animation: gradientMove 3s linear infinite;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.live-demo {
  display: inline-block;
  padding: 10px 20px;
  color: #d4d8dd;
  background-color: #241f1f;
  text-decoration: none;
  border-radius: 25px;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.live-demo:hover {
  background-color: #1d1919;
  color: #b1b1b1;
  transform: translateY(-1px);
}

.live-demo:active {
  transform: translateY(0);
}

@media (max-width: 450px) {
  .card-image img {
    /* height: 700px; Limits the maximum height */
    max-height: 700px; /* Limits the maximum height */
    /* height: ; */
  }
  .card-image img {
    min-height: 300px; /* Matches the tallest card (card with .card-image-1) */
    object-fit: cover;
  }
}
