.projects-page {
  padding-top: 15px;
  height: auto;
  box-sizing: border-box;
  background-color: #121212;
  font-family: "Tasa Orbiter", sans-serif; /* Fallback to sans-serif */
  width: 100%;
  overflow: hidden;
}
.projects-page h1 {
  color: white;
  transform: rotate(90deg);
  transform-origin: left;
  position: absolute;
  /* font-size: 50vh; */
  font-size: 7vw;
  margin-left: 100px;
  color: #241f1f;
  overflow: hidden;

  /* top: 10px;
  bottom: 20px; */
}
.proj-header {
  color: #cccccc;
  margin-left: 15%;
}
.proj-header img {
  width: 71px;
  /* margin-top: 25px; */
}
.proj-header h2 {
  font-size: 42px;
  font-weight: 800;
  margin-top: -20px;
}

.projects-flexBox {
  /* background-color: rgb(149, 0, 255); */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  /* width: 100%; */
  /* flex-wrap: wrap; */
  max-width: 90%;
  align-items: center;
  justify-items: center;
}

.main-card-1 {
  grid-area: 1/1/3/2;
  align-self: center;
  justify-self: center;
}
.main-card-4 {
  grid-area: 2/2/2/4;
  justify-self: center;
  align-self: center;
}

@media (max-width: 1136px) {
  .projects-flexBox {
    /* background-color: rgb(149, 0, 255); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    /* width: 100%; */
    /* flex-wrap: wrap; */
    max-width: 90%;
    align-items: center;
    justify-items: center;
  }
  .main-card-1 {
    grid-area: 1/1/3/2;
  }
  .main-card-4 {
    grid-area: 3/1/-2/-1;
  }
}

@media (max-width: 750px) {
  .projects-flexBox {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .projects-page {
    /* min-width: 430px; */
  }
  .projects-page h1 {
    visibility: hidden;
  }
}

/* github button */
.github-btn-flex {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  /* height: 100vh; Full height of the viewport (optional, if you want it centered vertically on the page) */
  padding: 20px;
  margin-top: 30px;
}
.github-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #24292e;
  color: #828282;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  padding: 12px 20px;
}
.github-button:hover {
  background-color: #32383d;
  color: #ffffff;
}
.github-button i {
  margin-right: 10px;
}
